# NATURAL PROCESS LANGUAGE (NPL)

In [124]:
from nltk.stem import WordNetLemmatizer
import nltk

In [125]:
x = 'is'
y = 'was'

In [126]:
# nltk.download('wordnet') #Download Dictionary
# nltk.download('omw-1.4')

In [127]:
lemmatizer = WordNetLemmatizer()

In [128]:
lemma1 = lemmatizer.lemmatize(x, 'v') # v for verb
print(f'Lemmma x: {lemma1}')
lemma2 = lemmatizer.lemmatize(y, 'v') # v for verb
print(f'Lemmma y: {lemma2}')
lemma1 == lemma2

Lemmma x: be
Lemmma y: be

True

## LEMMATIZATION OF SENTENCES

In [129]:
#nltk.download('punkt')
#nltk.download('averaged_perceptron_tagger')

In [130]:
sentence = "Vegetables are types of plants."

_**Tokenizing Sentences**_

In [131]:
for token in sentence_tokens:
    lemma = lemmatizer.lemmatize(token, 'n') #n for noum
    print(lemma)

Originally, vegetables were collected from the wild by hunter-gatherers.
Vegetables are all plants.
Vegetables can be eaten either raw or cooked
What are vegetables?

In [132]:
def lemma_me(sent):
    sentence_tokens = nltk.word_tokenize(sent.lower())
    pos_tags = nltk.pos_tag(sentence_tokens) #type of the words ( verb, noum, adverb, etc)

    sentence_lemmas = []

    for token, pos_tag in zip(sentence_tokens, pos_tags):
        if pos_tag[1][0].lower() in ['n', 'v', 'a','r']:
            lemma = lemmatizer.lemmatize(token, pos_tag[1][0].lower())
            sentence_lemmas.append(lemma)
            
    return sentence_lemmas

In [133]:
l1 = lemma_me(sentence)
l1

['vegetable', 'be', 'type', 'plant']

In [134]:
l2 = lemma_me('A vegetable is a type of plant')
l2

['vegetable', 'be', 'type', 'plant']

In [135]:
l1 == l2

True

## Find the most similar sentence

In [136]:
text = 'Originally, vegetables were collected from the wild by hunter-gatherers. Vegetables are all plants. Vegetables can be eaten either raw or cooked'
question = 'What are vegetables?'

In [137]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity #find similarities
import pandas as pd

In [153]:
sentence_tokens = nltk.sent_tokenize(text)
sentence_tokens.append(question)
print(sentence_tokens)

['Originally, vegetables were collected from the wild by hunter-gatherers.', 'Vegetables are all plants.', 'Vegetables can be eaten either raw or cooked', 'What are vegetables?']

In [154]:
tv = TfidfVectorizer(tokenizer = lemma_me )
tv

TfidfVectorizer(tokenizer=<function lemma_me at 0x0000027ABBE1D280>)

In [140]:
tf = tv.fit_transform(sentence_tokens)
tf

<4x8 sparse matrix of type '<class 'numpy.float64'>'
	with 14 stored elements in Compressed Sparse Row format>

In [141]:
tf.toarray()

array([[0.27717414, 0.53114624, 0.        , 0.        , 0.53114624,
        0.53114624, 0.        , 0.27717414],
       [0.41988018, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.8046125 , 0.41988018],
       [0.32713399, 0.        , 0.62688384, 0.62688384, 0.        ,
        0.        , 0.        , 0.32713399],
       [0.70710678, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.70710678]])

In [142]:
df = pd.DataFrame(tf.toarray(), columns=tv.get_feature_names())
df

C:\Users\kenny\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,be,collect,cook,eat,hunter-gatherer,originally,plant,vegetable
0,0.277174,0.531146,0.000000,0.000000,0.531146,0.531146,0.000000,0.277174
1,0.419880,0.000000,0.000000,0.000000,0.000000,0.000000,0.804612,0.419880
2,0.327134,0.000000,0.626884,0.626884,0.000000,0.000000,0.000000,0.327134
3,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107

In [143]:
values = cosine_similarity(tf[-1], tf ) #With two lists
values

array([[0.39198343, 0.59380024, 0.46263733, 1.        ]])

In [161]:
index = values.argsort()[0][2] #High value excluding the proper question
index

1

In [162]:
values_flat = values.flatten() #Just one list
values_flat.sort()
values_flat

array([0.39198343, 0.46263733, 0.59380024, 1.        ])

In [163]:
coeff = values_flat[-2]
coeff

0.593800244493221

In [164]:
if coeff > 0.3:
    print(sentence_tokens[index])

Vegetables are all plants.